body {
	background-color: #ebebeb;
}

.no-padding
{
	padding: 0px 0px 0px 0px
}

.header-front-page 
{   
  background-image: url('image/header-1.jpg'); 
 	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	padding-bottom: 50%;
	background-size:100% auto;
	position: relative;
}

.header-small-right-bottom
{
	position: absolute; 
	right: 0; 
	top: 45%;   
}

.title-indosystem, .header-hiring
{
	width: 100%;
}

div.title-indosystem h1 {
	color: #ffffff;
	font-size: 48px;
	letter-spacing: 6px; 
}

.header-hiring
{
	background-color:#181816; 
}

div.header-hiring h3, div.header-hiring button {
	display: inline-block; 
}

div.header-hiring h3 { 
	font-family: Myriad Pro; 
  padding: 0px 10px 0px 30px;
}

.button-hiring-green 
{
	background-color: #45bb2f;
	font-family: Myriad Pro;
	font-size: 20px;
	margin-bottom: 5px; 
}

.padding-bottom {
	padding-bottom: 25px;
}

footer{
	background-color: #000000;
	height:50px;
	width: 100%;
 	position: absolute;
  left: 0;
  right: 0;
}
 
